{% extends 'Base/base.html' %}

{% block title %}
<title>
Form Page
</title>
<style>
.muted {
    opacity: 0.5;

}
.submit-div {
    width: 30%;
    margin: 25px auto;
}
.form-div {
    margin: 45px auto;
}
.form-control {
    width: 30%;
    max-width: 50%;
    margin: 15px auto;

}
@media screen and (max-width: 768px){
    .btn {
        width: 100% !important;
        margin: auto 0;
        text-align: center;
    }
    .submit-div {
        width: 90% !important;
    }
    .form-div {
        width: 90% !important;
    }
    .form-control {
        max-width: 100% !important;
        width: 100% !important;
    
    }
}
</style>
{% endblock %}

{% block content %}
<div>
    <div class="text-center mb-5">
        <h1>
            {{ h1 }}
        </h1> 
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="form-group">
                {% if field.label.text == 'Submit' %}
                </div>
                <div class="submit-div">
                    {{ field(class='btn btn-primary', value=btn_value, style='width: 100%;') }}
                </div>
                {% else %}
                <div class="form-div">
                    {{ field(class='form-control', placeholder=field.label.text) }}
                </div>
                {% endif %}
                
                {% for error in field.errors %}
                    <div class="form-text error-message">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('submit').classList.add('muted');
    document.getElementById('submit').disabled = true;
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.form-control').forEach(element => {
            element.addEventListener('input', function() {
                // Your code to handle the value change goes here
                document.getElementById('submit').classList.remove('muted');
                document.getElementById('submit').disabled = false;
            });
            
        });
    });
    if (document.querySelector('.btn').value == 'Delete Account') {
        document.querySelector('.btn').classList.add('btn-danger');
    }
</script>
{% endblock %}