{% extends 'base.html' %}

{% block title %}
<title>Donate</title>
{% endblock %}

{% block content %}
<div>
    <h1 style="padding: 20px;">Donate</h1>
</div>
<div style="margin: 50px auto; background-color: #2f2f2f; width: 1000px; border-radius: 25px;">
    <div>
        <div>
            <h2 style="padding: 20px; padding-top: 40px;">Donate to support the development of this website</h1>
        </div>
        <div>
            <p style="max-width: 60%; margin: auto;">Our website is free to use and will always be free to use. However, if you would like to support the development of this website, you can donate to us. 
                Your donation will be used to pay for the server and the domain name. We will also use the donation to improve the website and add new features to the website.
            </p>
        </div>
        <div>
            <a href="https://www.buymeacoffee.com/abyssara">
                <img src="../../static/images/bmc-button.png" alt="buy me a coffee" style="height: 40%; width: 40%; padding: 40px;">
            </a>
        </div>
        <div style="padding-bottom: 40px;">
            <p style="max-width: 60%; margin: auto;">We highly appreciate your donation and we will make sure that your donation will be used to improve the website. 
                Thank you for your support!</p>
        </div>
    </div>
</div>
{% endblock %}
