{% extends 'Base/base.html' %}

{% block title %}
<title>Donate</title>
<style>
@media (max-width: 767px) {
    
    .btn {
        width: 90% !important;
        margin: 20px auto !important;
    }
}
</style>
{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <div class="mb-3">
        <div >
            <div class="my-5">
                <h2 class="card-title">Donate to support the development of this website</h2>
            </div>
            <div class="my-3">
                <p class="card-text">Our website is free to use and will always be free to use. However, if you would like to support the development of this website, you can donate to us. 
                    Your donation will be used to improve the application further. We will also use the donation to improve the website and add new features to the website.
                </p>
            </div>
            <div class="mb-5">
                <a href="{{donation_link}}">
                    <div class="btn btn-primary" style="margin-top: 20px;">Buy me a coffee</div>      
                </a>
            </div>
            <p class="card-text">We highly appreciate your donation and we will make sure that your donation will be used to improve the website. 
                Thank you for your support!</p>
        </div>
    </div>
</div>
{% endblock %}
