{% extends 'base.html' %}

{% block title %}
<title>Abyssara</title>
<style>
    .buy-sections {
        display: inline-flex;;
        width: 90%;
        margin: 50px auto 150px;
        justify-content: space-around;
        max-height: 358px;
    }

    /* General for all buy sections */
    .buy-section {
        background-color:  #333;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        margin: auto;
        padding: 40px;
        transition: transform 0.5s;
    }
    .buy-button {
        padding: 30px;
    }
    .buy-button  a{
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: #333;
        cursor: pointer;
        text-decoration: none;
    }
    .buy-button a:hover {
        color: #ffffff;
        transition: 0.5s;
    }
    .subscription-price {
        color: #fff;
        font-size: 30px;
    }
    .crossed-out-price {
        color: #6c6c6c;
    }

    /* Specific for each buy section */

    /* first buy section */
    .buy-section:nth-child(1) {
        background-color: #333;        
    }

    .time-period-1 {
        color: #FFFF00;
        padding: 10px;
        border-radius: 50px;
    }

    .buy-section:nth-child(1) a{
        background-color: #333;
        color: #FFFF00;
        border: 2px solid #FFFF00;

    }

    .buy-section:nth-child(1) a:hover {
        background-color: #FFFF00;
        color: #333;
        border: 2px solid #FFFF00;
    }

    .scale-1:hover{
        border: #FFFF00 2px solid;
        transform:scale(1.03);
    }

    /* second buy section */
    .buy-section:nth-child(2) {
        background-color: #333;
    }

    .time-period-2 {
        color: #CC00FF;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }


    .buy-section:nth-child(2) a{
        background-color: #333;
        color: #CC00FF;
        border: 2px solid #CC00FF;

    }

    .buy-section:nth-child(2) a:hover {
        background-color: #CC00FF;
        color: #333;
        border: 2px solid #CC00FF;
    }

    .scale-2:hover{
        border: #CC00FF 2px solid;
        transform: scale(1.03);
    }

    /* 3th buy section */
    .buy-section:nth-child(3) {
        background-color: #333;
    }
    
    
    .time-period-3 {
        color: #00FF00;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }


    .buy-section:nth-child(3) a{
        background-color: #333;
        color: #00FF00;
        border: 2px solid #00FF00;
    }

    .buy-section:nth-child(3) a:hover {
        background-color: #00FF00;
        color: #333;
        border: 2px solid #00FF00;
    }

    .scale-3:hover{
        border: #00FF00 2px solid;
        transform:scale(1.03);
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container" style="margin: 30px auto;">
    <div class="row">
        <div class="col section">
            <div class="section-content">
                <div style="text-align: center;">
                    <h2>Premium Price Tracking</h2>
                    <p>Analyze the entire market in minutes</p>
                    <p>Find the best prices for products</p>
                    <p>Optimize your setup for maximum efficiency</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="margin: 100px; text-align: center;">
    <h1 class="display-4">Subscription plans</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">30 days</h2>
                    <h3 class="card-subtitle mb-2 text-muted">4.99$</h3>
                    <h4 class="card-subtitle mb-2 text-muted"><del>14.99$</del></h4>
                    <a href="{{ url_for('subscribe_page') }}" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">90 days</h2>
                    <h3 class="card-subtitle mb-2 text-muted">11.99$</h3>
                    <h4 class="card-subtitle mb-2 text-muted"><del>35.99$</del></h4>
                    <a href="{{ url_for('subscribe_page') }}" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">365 days</h2>
                    <h3 class="card-subtitle mb-2 text-muted">44.99$</h3>
                    <h4 class="card-subtitle mb-2 text-muted"><del>134.99$</del></h4>
                    <a href="{{ url_for('subscribe_page') }}" class="btn btn-primary">Get started</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
```