{% extends 'base.html' %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="../static/auth.css">
    <style>
    .search-field {
        width: 24%;
        font-size: 15px;
        padding: 10px;
        margin: 20px 0 20px 20px;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
    }

    .search-btn {
        width: 3%;
        padding: 0;
        font-size: 15px;
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 0 10px 10px 0;
    }

    .search-btn:focus {
        outline: none;
    }
    .search-field:focus {
        outline: none;
    }

    .search-container {
        display: flex;
        justify-content: center;

    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-link {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
        color: #333;
        background-color: #ccc;
        text-decoration: none;
        border-radius: 5px;
    }

    .page-link:hover {
        background-color: #aaa;
    }

    .page-link.active {
        background-color: #333;
        color: #fff;
    }
    .current-page {
        background-color: rgb(0, 153, 255);
        color: #fff;
        pointer-events: none;
    }

    .current-page:hover {
        background-color: rgb(0, 153, 255) !important;
        color: #fff !important;
        pointer-events: none;
    }
    </style>

{% endblock %}

{% block content %}
<div>
    <form method="GET" action="{{ url_for('search_page') }}">
        <div class="search-container">
            <input type="text" name="search" class="search-field" id="search" placeholder="Search..." value="{{query}}" required>
            <button type="submit" class="search-btn">Search</button>
        </div>
    </form>
</div>

<div style="display: flex">    
{% for product in products %}
    <div style="background: #2f2f2f; width: 30%; margin: 10px auto; border-radius: 25px;">
        <a href="{{ product.url }}" style="text-decoration: none; color: white; ">

            <h1 style="font-size: large; max-width: 180px; margin: auto; padding: 20px; max-lines: 3 !important;">{% if product.title|length < 46 %} {{ product.title }} {% else %} {{ product.title[:45] }}... {% endif %}</h1>
            <p style="padding: 10px;">Price: {{product.price}}<p>
            <p style="padding: 10px;">Rating: {{product.rating}}</h1>
        </a>
    </div>
    {% if (loop.index) % 3 == 0 %}
        </div>
        <div style="display: flex;">
    {% endif %}
{% endfor %}
</div>

<div style="text-align: center;">
    <div class="pagination">
        {% if products.has_prev %}
            <a class="page-link" href="{{ url_for('search_page', page=products.prev_num) }}">Previous</a>
        {% endif %}
        
        {% for num in products.iter_pages() %}
            {% if num %}
                {% if products.page == num %}
                    <a class="page-link current-page" href="{{ url_for('search_page', page=num) }}">{{ num }}</a>
                {% else %}
                    <a class="page-link" href="{{ url_for('search_page', page=num) }}">{{ num }}</a>
                {% endif %}
            {% else %}
                <span class="page-link">...</span>
            {% endif %}
        {% endfor %}
        
        {% if products.has_next %}
            <a class="page-link" href="{{ url_for('search_page', page=products.next_num) }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}

