{% extends 'base.html' %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="../static/auth.css">
    <style>
    .search-field {
        width: 24%;
        font-size: 15px;
        padding: 10px;
        margin: 20px 0 20px 20px;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
    }

    .search-btn {
        width: 3%;
        padding: 0;
        font-size: 15px;
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 0 10px 10px 0;
    }

    .search-btn:focus {
        outline: none;
    }
    .search-field:focus {
        outline: none;
    }

    .search-container {
        display: flex;
        justify-content: center;

    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-link {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
        color: #333;
        background-color: #ccc;
        text-decoration: none;
        border-radius: 5px;
    }

    .page-link:hover {
        background-color: #aaa;
    }

    .page-link.active {
        background-color: #333;
        color: #fff;
    }
    .current-page {
        background-color: rgb(0, 153, 255);
        color: #fff;
        pointer-events: none;
    }

    .current-page:hover {
        background-color: rgb(0, 153, 255) !important;
        color: #fff !important;
        pointer-events: none;
    }

    .hidden {
        display: none;
    }
    </style>

{% endblock %}

{% block content %}

{% set params = request.args.copy() %}
{% set page = params.pop('page', None) %}
{% set params_copy = params.copy() %}
{% for key, value in params_copy.items() %}
    {% if not value %}
        {{ params.pop(key) }}
    {% endif %}
{% endfor %}

<div>
    <form method="GET" action="{{ url_for('search_page') }}">
        <div class="search-container">
            <input type="text" name="search" class="search-field" id="search" placeholder="Search..." value="{{search}}">
            <button type="submit" class="search-btn">Search</button>
        </div>
        <div>
            <div class="hidden" id="args" style="justify-content: space-between;">
                <div style="display: flex;">
                    <div style="width: 30%; display: flex; margin: auto;">
                        <input class="input-field" type="number" name="min_price" id="min_price" value="{% if min_price %} {{min_price}} {% endif %}" placeholder="Min price" style="width: 50%; margin: 10px;">
                        <input class="input-field" type="number" name="max_price" id="max_price" value="{% if max_price %} {{max_price}} {% endif %}" placeholder="Max price" style="width: 50%; margin: 10px;">
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="width: 30%; display: flex; margin: auto;">
                        <input class="input-field" type="text" name="brand" id="brand" value="{% if brand %} {{brand}} {% endif %}" placeholder="Brand" style="width: 50%; margin: 10px;">    
                        <input class="input-field" type="number" min="0" max="5" step="0.1" name="min_rating" id="min_rating" value="{% if min_rating %}  {{min_rating}} {% endif %}" placeholder="Min rating" style="width: 20%; margin: 10px;">
                        <input class="input-field" type="number" min="0" max="5" step="0.1" name="max_rating" id="max_rating" value="{% if max_rating %}  {{max_rating}} {% endif %}" placeholder="Max rating" style="width: 20%; margin: 10px;">
                    </div>
                </div>
                <div>
                    <button type="submit" class="submit-btn">Filter</button>
                </div>
            </div>
        </div>

    </form>
    <button id="filters" type="menu">
        filter
    </button>
    <button>
        <a href="{{ url_for('search_page') }}">Clear</a>
    </button>
</div>

<div style="display: flex">    
{% for product in products %}
    <div style="background: #2f2f2f; width: 30%; margin: 10px auto; border-radius: 25px;">
        <a href="{{ product.url }}" style="text-decoration: none; color: white; ">

            <h1 style="font-size: large; max-width: 180px; margin: auto; padding: 20px; max-lines: 3 !important;">{% if product.title|length < 46 %} {{ product.title }} {% else %} {{ product.title[:45] }}... {% endif %}</h1>
            <p style="padding: 10px;">Price: {{product.price}}<p>
            <p style="padding: 10px;">Rating: {{product.rating}}</h1>
            <p style="padding: 10px;">Category: {{product.item_class}}</p>
            {% if product.price_change_90_days() %}
                {% if product.price_change_90_days() != product.price_change_30_days() %}
                <div>
                    <p style="padding: 10px;">Price change last 90 days: </p>
                    <p {% if product.price_change_90_days() < 0 %} style="color: green;">{% else %} style="color: red;" >+{% endif %}{{product.price_change_90_days()}}%</p>
                </div>    
                {% endif %}
                {% if product.price_change_30_days() and product.price_change_30_days() != product.price_change_7_days() %}
                <div>
                    <p style="padding: 10px;">Price change last 30 days:</p>
                    <p {% if product.price_change_30_days() < 0 %} style="color: green;"> {% else %} style="color: red;">+{% endif %}{{product.price_change_30_days()}}%</p>
                </div>
                {% endif %}
                {% if product.price_change_7_days() and product.price_change_7_days() != product.price_change_1_day() %}
                <div>
                    <p>Price change last 7 days:</p>
                    <p {% if product.price_change_7_days() < 0 %} style="color: green;"> {% else %} style="color: red;">+{% endif %}{{product.price_change_7_days()}}%</p>
                </div>
                {% endif %}
                {% if product.price_change_1_day() %}
                <div>
                    <p style="padding: 10px;">Price change last 1 day:</p>
                    <p {% if product.price_change_1_day() < 0 %} style="color: green;"> {% else %} style="color: red;">+{% endif %}{{product.price_change_1_day()}}%</p>
                </div>
                {% endif %}
            {% else %}
                {% if product.price_change_last() %}
                <div>
                    <p style="padding: 10px;">Price change last time:</p><p {% if product.product.price_change_last() < 0 %} style="color: green;">{% else %} style="color: red;">+{% endif %}{{product.price_change_last()}}%</p>
                </div>
                {% else %}
                <div>
                    <p style="padding: 10px;">No price change detected yet</p>
                </div>
                {% endif %}
            
            {% endif %}
        </a>
    </div>
    {% if (loop.index) % 3 == 0 %}
        </div>
        <div style="display: flex;">
    {% endif %}
{% endfor %}
</div>

<div style="text-align: center;">
    <div class="pagination">
        {% if products.has_prev %}
            <a class="page-link" href="{{ url_for('search_page', page=products.prev_num, **params ) }}">Previous</a>
        {% endif %}
        
        {% for num in products.iter_pages() %}
            {% if num %}
                {% if products.page == num %}
                    <a class="page-link current-page" href="{{ url_for('search_page', page=num, **params) }}">{{ num }}</a>
                {% else %}
                    <a class="page-link" href="{{ url_for('search_page', page=num, **params) }}">{{ num }}</a>
                {% endif %}
            {% else %}
                <span class="page-link">...</span>
            {% endif %}
        {% endfor %}
        
        {% if products.has_next %}
            <a class="page-link" href="{{ url_for('search_page', page=products.next_num, **params) }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    let div = document.getElementById('args');
    document.getElementById('filters').addEventListener('click', function(event) {
        document.getElementById('args').classList.toggle('hidden');
    });
</script>
{% endblock %}
