{% extends 'base.html' %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="../../static/css/search.css">

{% endblock %}

{% block content %}

{% set params = request.args.copy() %}
{% set page = params.pop('page', None) %}
{% set params_copy = params.copy() %}
{% for key, value in params_copy.items() %}
    {% if not value %}
        {{ params.pop(key) }}
    {% endif %}
{% endfor %}

<div>
    <form method="GET" action="{{ url_for('search_get') }}">
        <div class="search-container">
            <div class="search-div" style="width: 50%; margin: 40px auto 20px;">
                <div class="input-group">
                    <input type="text" name="search" class="form-control border-frame" id="search" placeholder="Search..." value="{{search}}">
                    <button type="submit" class="btn btn-primary" style="border: 2px solid #0d6efd ;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="filters-container">
            <div class="hidden" id="args" style="justify-content: space-between; width: 50%; margin: auto;">
                <div class="row" style="margin: 10px auto;">
                    <input class="form-control" type="number" name="min_price" id="min_price" value="{% if min_price %} {{min_price}} {% endif %}" placeholder="Min price" style="width: 45%; margin: 9px;">
                    <input class="form-control" type="number" name="max_price" id="max_price" value="{% if max_price %} {{max_price}} {% endif %}" placeholder="Max price" style="width: 45%; margin: 9px;">
                </div>
                <div class="row" style="margin: 10px auto;">
                    <input class="form-control" type="text" name="brand" id="brand" value="{% if brand %} {{brand}} {% endif %}" placeholder="Brand" style="width: 30%;margin: 5px;">
                    <input class="form-control" type="number" min="0" max="5" step="0.1" name="min_rating" id="min_rating" value="{% if min_rating %}  {{min_rating}} {% endif %}" placeholder="Min rating" style="width: 30%;margin: 5px;">
                    <input class="form-control" type="number" min="0" max="5" step="0.1" name="max_rating" id="max_rating" value="{% if max_rating %}  {{max_rating}} {% endif %}" placeholder="Max rating" style="width: 30%;margin: 5px;">
                </div>
                <div class="row" style="margin: 10px auto;">
                    <a href="{{ url_for('search_get') }}" class="clear-filters">
                        <button type="menu" class="btn btn-primary">
                            Clear filters
                        </button>
                    </a>
                </div>
                
            </div>
        </div>

    </form>
</div>
<div class="filters" style="width: 10%; margin: 10px auto;">
    <div>
        <button id="filters" type="menu" class="btn btn-primary" style="width: 100%; margin-bottom: 20px;">
            Filters
        </button>
    </div>
</div>

<div class="flex-container" style="display: flex">    
{% for product in products %}
    <div class="card shadow border-frame" style="width: 30%; margin: 10px auto; border-radius: 25px; text-align: center;">
        <a href="{{ product.url }}" style="text-decoration: none; color: black; ">
            <img src="{{ product.get_image() }}" class="card-img-top" alt="..." style="border-radius: 25px 25px 0px 0px;">
            <div class="card-body">
                <h1 class="card-title" style="font-size: large; max-width: 80%; margin: auto; padding: 20px; max-lines: 3 !important;">{% if product.title|length < 46 %} {{ product.title }} {% else %} {{ product.title[:45] }}... {% endif %}</h1>
                <p class="card-text" style="padding: 10px; ">Price: {{product.price}}</p>
                <p class="card-text" style="padding: 10px; ">Domain: {{product.get_domain()}}</p>
                <p class="card-text" style="padding: 10px;">Rating: {{product.rating}}</p>
                <p class="card-text" style="padding: 10px;">Category: {{product.item_class}}</p>
            </a>
            {% if current_user.is_authenticated %}
            <div style="margin-top: 10px;">
                <form>
                    <button type="button" class="btn track-button" id="{{product.id}}" data-tracked="{{in_cart(current_user.id, product.id)}}" onclick="track('{{ product.id }}')">Tracked</button>
                </form>
            </div>
            {% else %}
            <div style="margin-top: 10px;">
                <a href="{{ url_for('login_get') }}" class="btn btn-light btn-sm">Login to track</a>
            </div>
            {% endif %}
        </div>
    </div>
        {% if (loop.index) % 3 == 0 %}
        </div>
        <div class="flex-container" style="display: flex">
        {% endif %}
{% endfor %}
</div>

<div style="text-align: center; margin: 20px auto 40px;">
    <div class="pagination">
        <ul class="pagination justify-content-center mx-auto mt-5">
            {% if products.has_prev %}
                <li class="page-item">
                    <a class="page-link" style="background: #ffffff;"  href="{{ url_for('search_get', page=products.prev_num, **params ) }}">Previous</a>
                </li>
            {% endif %}
            
            {% for num in products.iter_pages() %}
                {% if num %}
                    {% if products.page == num %}
                        <li class="page-item">
                            <a class="page-link current-page" href="{{ url_for('search_get', page=num, **params) }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" style="background: #ffffff;" href="{{ url_for('search_get', page=num, **params) }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <span class="page-link" style="background: #ffffff;">...</span>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" style="background: #ffffff;" href="{{ url_for('search_get', page=products.next_num, **params) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="../../static/js/track.js"></script>
<script type="text/javascript" src="../../static/js/image.js"></script>

{% endblock %}
