{% extends 'base.html' %}

{% block title %}
<title>403 Error</title>
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">403 Error</h1>
            <p class="lead">You do not have permission to access this page.</p>
            <a href="/" class="btn btn-primary">Go back to homepage</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
