{% extends 'base.html' %}

{% block title %}
<title>404 Error</title>
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">404 Error</h1>
            <p class="lead">Oops! The page you are looking for could not be found.</p>
            <a href="/" class="btn btn-primary">Go back to homepage</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Disable Google Analytics tracking
    window['ga-disable-UA-XXXXXXXX-X'] = true;
</script>
{% endblock %}