
div.login-section {
    border-radius: 15px;
    background-color: #202020;
}

div.login-container {
    margin: auto;
}


.google-button {
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: #3a76ec;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 55px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    font-size: 20px;
    margin: 10px auto;
}

.google-button:hover {
    background-color: white;
    color: black;
}

.microsoft-button {
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: #2f2f2f;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 55px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    font-size: 20px;
    margin: 10px auto;
}

.microsoft-button:hover {
    background-color: white;
    color: black;
}

.google-icon {
    width: 10%;
    height: 60%;
    margin-top: 10px;
    margin-left: 10px;
}

.microsoft-icon {
    width: 9%;
    height: 54%;
    margin: 0px;
    padding: 12px;
}

.input-field {
    font-size: 20px;
    width: 22%;
    height: 50px;
    margin: 15px auto;
    border-radius: 15px;
    padding-left: 20px;
}

.input-field:focus {
    outline: none;
    border: 2px solid #00d9ff;
}

.submit-btn {
    cursor: pointer;
    width: 24%;
    background-color: rgb(47, 189, 255);
    font-size: 20px;
    padding: 10px 7%;
    height: 50px;
    margin: 15px auto;
    border-radius: 55px;
    text-align: center;
    color: white;
}
