body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
}

nav {
    background:color-mix(in hsl shorter hue, #2f2f2f 50%, #282828 50%);
    display: flex;
}

.half-width {
    width: 50%;
}

nav h1 {
    margin: 0 ;
    padding: 20px;
}

.nav-links {
    width: 100px;
    margin: auto 10px
}

nav div a {
    width: 40px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-shadow: 0 0 10px;
}

nav p {
    height: auto;
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

.content {
    text-align: center;
}

.section {
    background: #2f2f2f;
    width: 80%;
    margin: 10px auto;
    border-radius: 15px;
}

div.row {
    display: flex;
}

div.login-section {
    border-radius: 15px;
    background-color: #202020;
}

div.login-container {
    margin: auto;
}


