body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
}

nav {
    background:color-mix(in hsl shorter hue, #2f2f2f 50%, #282828 50%);
    display: flex;
}

.half-width {
    width: 50%;
}

nav h1 {
    margin: 0 ;
    padding: 20px;
}

.nav-links {
    width: 100px;
    margin: auto 10px
}

nav div a {
    width: 40px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-shadow: 0 0 10px;
}

nav p {
    height: auto;
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

.content {
    text-align: center;
}

.section {
    background: #2f2f2f;
    width: 80%;
    margin: 10px auto;
    border-radius: 15px;
}

div.row {
    display: flex;
}


div.flash-messages {
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 15px auto !important;
}

p.flash-message {
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    text-align: center;
    padding-right: 60px;
    padding-left: 90px;
}

button.flash-close {
    background: none;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    font-size: 20px;

    bottom: 20px;
    text-align: right;
}

div.danger {
    background: #ff0000;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

div.success {
    background: #00ff00;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

div.info {
    background: #0000ff;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}