{% extends 'base.html' %}

{% block title %}
<title>Scrape Product</title>
<link rel="stylesheet" href="../../../static/auth.css">

{% endblock %}

{% block content %}
<div style="padding: 50px;">
    <h1>Scrape Product</h1>
    <form method="POST" action="{{ url_for('admin_product_add_manual_page') }}">
        <div>
            <input class="input-field" type="text" id="url" name="query" placeholder="Enter product URL">
        </div>
        <div>
            <input class="input-field" type="number" id="page" name="page" placeholder="Enter page number">
        </div>
        <div>
            <input class="input-field" type="number" id="results_per_page" name="results_per_page" placeholder="Enter results per page">
        </div>
        <div>
            <input class="submit-btn" type="submit" value="Scrape">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}