{% extends 'base.html' %}

{% block title %}
<title>Product info</title>
{% endblock %}

{% block content %}
<div  style="padding: 50px;">
    <h1>Product info</h1>
    <div>
        <div>
            <p>Title: {{ product.title }}</p>
        </div>
        <div>
            <p>Price: {{ product.price }}</p>
        </div>
    </div>
    <div>
        <p>Rating: {{ product.rating }}</p>
        <p>Amount of ratings: {{ product.amount_of_ratings }}</p>
    </div>
    <p>URL: <a href="{{product.url}}">{{ product.url }}</a></p>
    <p>Brand: {{ product.producer }}</p>
    <p>Item class: {{ product.item_class }}</p>
    <div style="justify-content: space-between; display: flex; width: 20%; margin: 60px auto;">
        <a href="{{ url_for('admin_product_edit_page', id=product.id) }}" style="text-decoration: none; color:rgb(0, 110, 255)">Edit</a>
        <a href="{{ url_for('admin_product_delete_page', id=product.id) }}" style="text-decoration: none; color:red">Delete</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
```