{% extends 'Admin/base.html' %}
{% block title %}
<title>Admin</title>
<style>
    .section {
        background-color: #222e3c;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }

    h3 {
        margin: 0 0  0;
        padding: 0 ;
    }
</style>
{% endblock %}
{% block content %}
<div>
    <div class="text-center">
        <h1 class="display-1 fw-bold mb-5">Admin Panel</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="section">
                    <h3 style="padding: 20px;">Manage Users</h3>
                    <p>(currently {{ count_of_users }} users registered)</p>
                    <a href="{{ url_for('admin_user_search_get',page=1) }}">
                        <button class="btn btn-primary">Manage Users</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section">
                    <h3 style="padding: 20px;">Manage Products</h3>
                    <p>(currently {{ count_of_products }} products in database)</p>
                    <a href="{{ url_for('admin_products_search_get') }}">
                        <button class="btn btn-primary">View products in database</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="section">
                    <h3 style="padding: 20px;">View User Analytics</h3>
                    <a href="{{ url_for('admin_analytics_get') }}">
                        <button class="btn btn-primary">User Analytics</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section">
                    <h3 style="padding: 20px;">Scrape Websites</h3>
                    <a href="{{ url_for('admin_scrape_get') }}">
                        <button class="btn btn-primary">Scrape websites</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}