{% extends 'Admin/base.html' %}

{% block title %}
<title>Analytics</title>
<link rel="stylesheet" href="../../static/css/analytics.css">
<link rel="stylesheet" href="../../static/css/loader.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 row" style="margin: auto;">
        <div class="col-md-6" style="padding-left: 0;"> 
            <div class="card" style="background-color: #222e3c; color: white;padding: 0; margin: 0;">
                <div class="card-head" style="text-align: center;">
                    <h5 class="card-title" style="padding: 5px;">User Devices</h5>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <div class="lds-ring" id="loader-1"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div id="piechart"></div>
                </div>
            </div>
            <div class="card" style="background-color: #222e3c; color: white;padding: 0; margin: 0;">
                <div class="card-head" style="text-align: center;">
                </div>
                <div class="card-body" style="color: black !important;">
                    <div class="text-center">
                        <div class="lds-ring" id="loader-2"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div id="table_div_countries"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right: 0;">
            <div class="card" style="background-color: #222e3c; color: white; padding: 0; margin: 0;">
                <div class="card-body" style="color: black;">
                    <div class="text-center">
                        <div class="lds-ring" id="loader-3"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div id="table_div_routes"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10" style="padding-left: 12px; padding-top: 20px; margin: auto;">
        <div class="card" style="background-color: #222e3c;">
            <div class="card-head" style="text-align: center;">
                <h5 class="card-title" style="padding: 5px; color: white;">Country Sessions</h5>
                <div>
                    <div class="lds-ring" id="loader-4"><div></div><div></div><div></div><div></div></div>
                    <div id="country-sessions-chart" ></div>
                </div>
            </div>
            <div class="card-body">
                <div id="regions_div"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="../../static/js/analytics.js"></script>
{% endblock %}