{% extends 'Admin/base.html' %}

{% block title %}
<title>View database</title>
<style>
    .hidden {
        display: none;
    }
    .flex-container {
        display: flex;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width: 767px){
        .flex-container {
            flex-direction: column;
        }
        .flex-container a {
            width: 100%;
        }
        .card {
            max-width: 100% !important;
            margin-right: auto !important;
            margin-left: auto !important;
        }
        .pagination {
            margin: 10px auto;
        }
        .filters-container {
            width: 100%;
        }
        .filters {
            width: 100%;
        }
        .card-footer {
            flex-direction: column;
        }
        .card-footer a {
            width: 100%;
            margin: 10px auto;
        }
    }


</style>
<link rel="stylesheet" href="../../static/css/search.css">
<script type="text/javascript" src="../../static/js/image.js"></script>
{% endblock %}

{% block content %} 
<div style="text-align: center;">
    <div>
        <div>    
            <form method="GET" action="{{ route }}">
                <div class="col-md-6 mx-auto mb-4">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control border-frame" id="search" placeholder="Search..." value="{{search}}">
                        <button type="submit" class="btn btn-primary" style="border: 2px solid #0d6efd ;">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                {% if 'product' in route %}
                <div class="filters-container">
                    <div class="hidden" id="args" style="justify-content: space-between; width: 50%; margin: auto;">
                        <div class="row" style="margin: 10px auto;">
                            <input class="form-control" type="number" name="min_price" id="min_price" value="{% if min_price %} {{min_price}} {% endif %}" placeholder="Min price" style="width: 45%; margin: 9px;">
                            <input class="form-control" type="number" name="max_price" id="max_price" value="{% if max_price %} {{max_price}} {% endif %}" placeholder="Max price" style="width: 45%; margin: 9px;">
                        </div>
                        <div class="row" style="margin: 10px auto;">
                            <input class="form-control" type="text" name="brand" id="brand" value="{% if brand %} {{brand}} {% endif %}" placeholder="Brand" style="width: 30%;margin: 5px;">
                            <input class="form-control" type="number" min="0" max="5" step="0.1" name="min_rating" id="min_rating" value="{% if min_rating %}  {{min_rating}} {% endif %}" placeholder="Min rating" style="width: 30%;margin: 5px;">
                            <input class="form-control" type="number" min="0" max="5" step="0.1" name="max_rating" id="max_rating" value="{% if max_rating %}  {{max_rating}} {% endif %}" placeholder="Max rating" style="width: 30%;margin: 5px;">
                        </div>
                        <div class="row" style="margin: 10px auto;">
                            <a href="/search" class="clear-filters">
                                <button type="menu" class="btn btn-primary">
                                    Clear filters
                                </button>
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% endif %}
            </form>
            {% if 'product' in route %}
            <div class="filters" style="width: 10%; margin: 10px auto;">
                <div>
                    <button id="filters" type="menu" class="btn btn-primary" style="width: 100%; margin-bottom: 20px;">
                        Filters
                    </button>
                </div>
            </div>
            {% endif %}
            {% if items.total == 0 %}
                <p>No items found</p>
            {% else %}
                <p>{{ items.total }} results found by this query</p>
            {% endif %}
            <div class="flex-container">
            {% for item in items %}
                {% if item.__tablename__ == 'product' %}
                <a href="{{item.url}}" style="text-decoration: none; color: white;">
                    <div class="card bg-dark mx-auto mb-4" style="max-width: 30%; max-height: 50%; padding: 20px;">
                        <img src="{{ item.get_image() }}" class="card-img-top" alt="..." onload="scaleImage(this)" style="margin: 20px auto;">
                        <div>
                            <h6 class="card-title" style="height: 10% !important;">
                                {% if item.title|length > 100 %}
                                {{ item.title[:100] }}...
                                {% else %}
                                {{ item.title }}
                                {% endif %}
                            </h6>
                        </div>
                        <div class="mb-2"> 
                            <p class="card-text">{{ item.price }} {{item.price_currency}}</p>
                        </div>
                        <div class="card-footer p-3">
                            <a href="/admin/product/{{item.id}}" class="btn btn-primary" style="text-decoration: none; color: white;">
                                Info
                            </a>
                            <a href="/admin/product/edit/{{item.id}}" class="btn btn-info" style="text-decoration: none; color: white;">
                                Edit
                            </a>
                            <a href="/admin/product/delete/{{item.id}}" class="btn btn-danger" style="text-decoration: none; color: white;">
                                Delete
                            </a>
                        </div>
                    </div>
                </a>
                {% endif %}
                {% if item.__tablename__ == 'UserModel' %}
                    <div class="card bg-dark mx-auto mb-4 col-md-3" style=" max-height: 50%; padding: 20px;">
                        <div style="height: 65px; color: white;">
                            <div>
                                <p>{{ item.username }}</p>
                            </div>
                            <div>
                                <p>{{ item.name }}</p>
                            </div>
                        </div>
                        <div class="mb-2 p-3" style="color: white;"> 
                            <p class="card-text">{{ item.email_address }}</p>
                        </div>
                        <div class="card-footer p-3">
                            <a href="/admin/user/{{item.id}}" class="btn btn-primary" style="text-decoration: none; color: white;">
                                Info
                            </a>
                            <a href="/admin/user/edit/{{item.id}}" class="btn btn-info" style="text-decoration: none; color: white;">
                                Edit
                            </a>
                            <a href="/admin/user/delete/{{item.id}}" class="btn btn-danger" style="text-decoration: none; color: white;">
                                Delete
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if item.__tablename__ == 'message' %}                    
                    <div class="card bg-dark mx-auto mb-4 col-md-3" style=" max-height: 50%; padding: 20px;">
                        <div style="height: 65px; color: white;">
                            <div>
                                <p>{{ item.sender_id }} {% if not item.read %}(unread){%endif%}</p>
                            </div>
                        </div>
                        <div class="mb-2 p-3" style="color: white;"> 
                            <p class="card-text">
                                {% if item.text|length > 100 %}
                                {{ item.text[:100] }}...
                                {% else %}
                                {{ item.text }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer p-3">
                            <a href="/admin/message/{{item.id}}" class="btn btn-primary" style="text-decoration: none; color: white;">
                                Info
                            </a>
                            <a href="/admin/message/delete/{{item.id}}" class="btn btn-danger" style="text-decoration: none; color: white;">
                                Delete
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if (loop.index) % 3 == 0 %}
                    </div>
                    <div class="flex-container">
                {% endif %}
                
            {% endfor %}
            
            </div>
        </div>    
        </div>
    </div>
    <div style="text-align: center;">
        <div class="pagination mb-5">
            <ul class="pagination flex-container justify-content-center mx-auto">
                {% if items.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="/{{route}}?page={{items.prev_num}}&{{variables }}">Previous</a>
                </li>
                {% endif %}
                
                {% for num in items.iter_pages() %}
                    {% if num %}
                        {% if items.page == num %}
                            <li class="page-item">
                                <a class="page-link active" href="/{{route}}?page={{num}}&{{variables}}">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/{{route}}?page={{num}}&{{variables}}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                            <li class="page-item">
                                <span class="page-link">...</span>
                            </li>
                    {% endif %}
                {% endfor %}
                
                {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/{{route}}?page={{items.next_num}}&{{variables}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let div = document.getElementById('args');
    document.getElementById('filters').addEventListener('click', function(event) {
        document.getElementById('args').classList.toggle('hidden');
    });
</script>
{% endblock %}
