{% extends 'base.html' %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="../../static/style.css">
<link rel="stylesheet" href="../../static/auth.css">
    <style>
    .search-field {
        width: 24%;
        font-size: 15px;
        padding: 10px;
        margin: 20px 0 20px 20px;
        border: 1px solid #ccc;
        border-radius: 10px 0 0 10px;
    }

    .search-btn {
        width: 3%;
        padding: 0;
        font-size: 15px;
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }

    .search-btn:focus {
        outline: none;
    }
    .search-field:focus {
        outline: none;
    }

    .search-container {
        display: flex;
        justify-content: center;

    }

    .user {
        width: 30%;
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-link {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 5px;
        color: #333;
        background-color: #ccc;
        text-decoration: none;
        border-radius: 5px;
    }

    .page-link:hover {
        background-color: #aaa;
    }

    .page-link.active {
        background-color: #333;
        color: #fff;
    }

    .current-page {
        background-color: rgb(0, 153, 255);
        color: #fff;
        pointer-events: none;
    }

    .current-page:hover {
        background-color: rgb(0, 153, 255) !important;
        color: #fff !important;
        pointer-events: none;
    }

    </style>

{% endblock %}

{% block content %}
<div>
    <form method="GET" action="{{ url_for('admin_users_page') }}">
        <div class="search-container">


            <input type="text" name="search" class="search-field" placeholder="Search..." value="{{search_query}}">

            <button type="submit" class="search-btn">Search</button>
        </div>
    </form>
</div>

<div style="display: flexbox;">
    {% for user in users.items %}
    <div class="user" style="display: inline-block; width: 30%; ">
        <p>{{ user.username }}</p>
        <p>{{ user.email_address }}</p>
        <p>{{ user.is_confirmed }}</p>
        <p>{{ user.role }}</p>
        <div>
            
            <a href="{{ url_for('admin_user_edit_page', id=user.id) }}">
                <button>Edit</button>
            </a>
            <a href="{{ url_for('admin_user_info_page', id=user.id) }}">
                <button>Info</button>
            </a>
            <a href="{{ url_for('admin_user_delete_page', id=user.id) }}">
                <button>Delete</button>
            </a>
        </div>
    </div>
    {% if loop.index % 3 == 0 %}
    <br><br><br>
    {% endif %}
    {% endfor %}
</div>


<div class="pagination-container"></div>
    <ul class="pagination">
        {% if total_pages <= 4 %}
            {% if total_pages == 2 %}
                <a class="page-link{% if page == 1 %} current-page {% endif %}" href="{{ url_for('admin_users_page', page=1, search=search_query) }}">1</a>
                <a class="page-link{% if page == 2 %} current-page {% endif %}" href="{{ url_for('admin_users_page', page=2, search=search_query) }}">2</a>
            {% endif %}
            {% if total_pages == 3 %}
                <a class="page-link{% if page == 3 %} current-page {% endif %}" href="{{ url_for('admin_users_page', page=3, search=search_query) }}">3</a>
            {% endif %}
            {% if total_pages == 4 %}
                <a class="page-link{% if page == 4 %} current-page {% endif %}" href="{{ url_for('admin_users_page', page=4, search=search_query) }}">4</a>
            {% endif %}
        {% else %}
            {% if page > 2 %}
                <a class="page-link" href="{{ url_for('admin_users_page', page=1, search=search_query ) }}">1</a>
                {% if page > 3 %}
                <p style="margin: 0; padding-top: 10px;">...</p>
                {% endif %}

            {% endif %}

            {% if page > 1 %}
                <a class="page-link" href="{{ url_for('admin_users_page', page=page-1, search=search_query) }}">{{ page - 1}}</a>
            {% endif %}
            
            <p class="page-link current-page disabled" href="{{ url_for('admin_users_page', page=page, search=search_query) }}">{{ page }}</p>
            
            {% if page < total_pages %}
                <a class="page-link" href="{{ url_for('admin_users_page', page=page+1, search=search_query) }}">{{ page + 1 }}</a>
            {% endif %}

            {% if page < total_pages-1 %}
                {% if page < total_pages - 2 %}
                <p style="margin: 0; padding-top: 10px;">...</p>
                {% endif %}
                <a class="page-link" href="{{ url_for('admin_users_page', page=total_pages, search=search_query) }}">{{ total_pages }}</a>
            {% endif %}
        {% endif %}

    </ul>
</div>

{% endblock %}

{% block scripts %}


{% endblock %}
