<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    {% block title %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="half-width" style="display: block;">
            <div style="display: inline-block;">
                <a href="{{url_for('home_page')}}">
                    <div style="width: 160px; height: auto;">
                        <h1 style="width: 160px;">Abyssara</h1>
                    </div>
                </a>
            </div>
        </div>
        <div style="text-align: right;" class="half-width">
            <div style="margin-left: auto; display: inline-flex;">
                <div class="nav-links">
                    
                    <a href="{{ url_for('home_page') }}" style="width: 40px;">
                        <p>Home</p>
                    </a>
                </div>
                <div class="nav-links">
                    <a href="{{ url_for('search') }}" style="width: 40px;">
                        <p>Search</p>
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                <div class="nav-links">
                    <a href="{{ url_for('profile_page') }}" style="width: 40px;">
                        <p>Profile</p>
                    </a>
                </div>
                {% else %}
                <div class="nav-links">
                    <a href="{{ url_for('register_page') }}" style="width: 40px;">
                        <p>Register</p>
                    </a>
                </div>
                <div class="nav-links">
                    <a href="{{ url_for('login_page') }}" style="width: 40px;">
                        <p>Login</p>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="">
            {% for message in messages %}
            <div class="flash-messages {{ message[0] }}">
                <p class="flash-message">{{ message[1] }}</p>
                <button type="button" class="flash-close" data-dismiss="alert">&times;</button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <div class="content">
        
        {% block content %}
    
        {% endblock %}
    
    </div>
</body>


<script>
    let flashClose = document.querySelectorAll('.flash-close');
    flashClose.forEach((close) => {
        close.addEventListener('click', () => {
            close.parentElement.style.display = 'none';
        });
    });
    {% block scripts %}
    {% endblock %}
</script>
</html>
