<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    {% block title %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="half-width" style="display: block;">
            <div style="display: inline-block;">
                <a href="{{url_for('home_page')}}">
                    <div style="width: 160px; height: auto;">
                        <h1 style="width: 160px;">Abyssara</h1>
                    </div>
                </a>
            </div>
        </div>
        <div style="text-align: right;" class="half-width">
            <div style="margin-left: auto; display: inline-flex;">
                <div class="nav-links">
                    
                    <a href="{{ url_for('home_page') }}" style="width: 40px;">
                        <p>Home</p>
                    </a>
                </div>
                <div class="nav-links">
                    <a href="{{ url_for('search') }}" style="width: 40px;">
                        <p>Search</p>
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                <div class="nav-links">
                    <a href="{{ url_for('profile_page') }}" style="width: 40px; height: 50px; margin-right: 20px;">
                        <img src="{{current_user.profile_picture}}" alt="" style="width: 50px; height: 50px; border-radius: 90px; padding: 5px;">
                    </a>
                </div>
                {% else %}
                <div class="nav-links">
                    <a href="{{ url_for('register_page') }}" style="width: 40px;">
                        <p>Register</p>
                    </a>
                </div>
                <div class="nav-links">
                    <a href="{{ url_for('login_page') }}" style="width: 40px;">
                        <p>Login</p>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
