{% extends 'base.html' %}

{% block title %}
<title>
Change Password
</title>
<link rel="stylesheet" href="../static/auth.css">
{% endblock %}

{% block content %}
    <h1>
        {{ h1 }}
    </h1> 
    <form method="POST">
        <div class="form-group">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username(class='input-field', placeholder=form.username.label.text, value=current_user.username)  }}
        </div>
        <div>
            {{ form.name(class='input-field', placeholder=form.name.label.text, value=current_user.name)  }}
        </div>
        <div>  
            {{ form.submit(class='submit-btn', value='Submit') }}
        </div>
        
        </div>
    </form>
{% endblock %}
