{% extends 'base.html' %}

{% block title %}
<title>
Change Password
</title>
<link rel="stylesheet" href="../static/auth.css">
{% endblock %}

{% block content %}
    <h1>
        {{ h1 }}
    </h1> 
    <form method="POST">
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
        {{ form.hidden_tag() }}
        {% if field.label.text == 'Submit' %}
        {{ field(class='submit-btn', value='Submit') }}
        {% else %}
        {{ field(class='input-field', placeholder=field.label.text ) }}
        {% endif %}
        
        {% for error in field.errors %}
            <span class="form-text">{{ error }}</span>
        {% endfor %}
        </div>
        {% endfor %}
    </form>
{% endblock %}
