{% extends 'base.html' %}

{% block title %}
<title>
Change Password
</title>
{% endblock %}

{% block content %}
<div>
    <div style="text-align: center;">
        <h1>
            {{ h1 }}
        </h1> 
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="form-group">
                {% if field.label.text == 'Submit' %}
                </div>
                <div style="width: 30%; margin: 15px auto;">
                    {{ field(class='btn btn-primary', value='Submit', style='width: 100%;') }}
                </div>
                {% else %}
                {{ field(class='form-control', placeholder=field.label.text, style='width:30%; max-width:50%; margin: 15px auto;') }}
                {% endif %}
                
                {% for error in field.errors %}
                    <div class="form-text error-message">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}