{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div>
    <div class="login-container">
        <div>
            <h1>FastSearch</h1>
            <p>Search for products faster and smarter.</p>
        </div>
        <div class="login-section">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>   
                    {{ form.name(class='', placeholder='Name') }}
                </div>
                <div>   
                    {{ form.username(class='', placeholder='Username') }}
                </div>
                <div>   
                    {{ form.email_address(class='', placeholder='Email') }}
                </div>
                <div>   
                    {{ form.password(class='', placeholder='Password') }}
                </div>
                <div>   
                    {{ form.confirm_password(class='', placeholder='Confirm Password') }}
                </div>
                <div>   
                    {{ form.submit(class='') }}
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}