{% extends 'base.html' %}

{% block title %}
<title>Search</title>
<link rel="stylesheet" href="../static/auth.css">
{% endblock %}

{% block content %}
<div>
    <form method="POST" action="{{ url_for('search') }}">
        <!-- <div>
            <label for="search_query">Search:</label>
        </div> -->
        <div>
            <input type="text" name="search_query" class="input-field" id="search_query" placeholder="Search" required>
        </div>
        <div>

            <button type="submit" class="submit-btn">Search</button>
        </div>
    </form>
</div>
{% endblock %}