{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="../static/auth.css">
<title>Login</title>
<style>
    .forgot-password {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        margin: 10px;
    }
</style>
{% endblock %}



{% block content %}
<div >
    <div class="login-container">
        <div>
            <h1>Log in</h1>
        </div>
        <div class="login-section">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>   
                    {{ form.email_address(class='input-field', placeholder='Email Address') }}
                </div>
                <div>
                    {{ form.password(class='input-field', placeholder='Password') }}
                </div>
                <div>
                    {{ form.submit(class='submit-btn', value='Log in')}}
                </div>
            </form>
        </div>
        <div>
            <a href="{{ url_for('forgot_password_get') }}" class="forgot-password">Forgot password?</a>
        </div>
        <div style="text-align: center; margin: 20px auto;">
            <a href="{{ url_for('login_with_google') }}" class="google-button">
                <img src="../static/images/google-icon.png" alt="Google Icon" class="google-icon">
                <p style="margin: auto;">Continue with Google</p>
            </a>
        </div>
        <div style="text-align: center; margin: 20px auto;">
            <a href="{{ url_for('login_with_microsoft') }}" class="microsoft-button">
                <img src="../static/images/microsoft-icon.png" alt="Microsoft Icon" class="microsoft-icon">
                <p style="margin: auto;">Continue with Microsoft</p>
            </a>
        </div>

    </div>
</div>
{% endblock %}