{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h1 class="card-title">Username: {% if current_user.username %} {{ current_user.username }} {% else %} <a href="{{ url_for('change_username_get') }}" class="text-muted">Blank</a> {% endif %}</h1>
            <h1 class="card-title">Name: {% if current_user.name %} {{ current_user.name }} {% else %} <a href="{{ url_for('change_username_get') }}" class="text-muted">Blank</a> {% endif %}</h1>
            <h1 class="card-title">Email address: {{ current_user.email_address }}</h1>
            {% if not current_user.is_confirmed() %}
            <div class="mt-3">
                <a href="{{ url_for('ask_of_verification') }}" class="btn btn-primary">Confirm your email</a>
            </div>
            {% endif %}
            <div class="mt-3">
                <a href="{{ url_for('change_username_get')}}" class="btn btn-primary">Change profile credentials</a>
            </div>
            {% if current_user.password_hash %}
            <div class="mt-3">
                <a href="{{ url_for('change_password_get') }}" class="btn btn-primary">Change password</a>
            </div>
            {% else %}
            <div class="mt-3">
                <a href="{{ url_for('set_password_get') }}" class="btn btn-primary">Set password</a>
            </div>
            {% endif %}
            <div class="mt-3">
                <a href="{{ url_for('logout')}}" class="btn btn-danger">Log out</a>
            </div>
            <div class="mt-3">
                <a href="{{ url_for('delete_account_get') }}" class="btn btn-danger">Delete account</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h2 class="card-title">Cart</h2>
            {% if cart %}
                {% for i in cart %}
                    <p>{{ i.title }}</p>
                {% endfor %}
            {% else %}
                <p>No items in cart</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}