{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="../static/auth.css">
<title>Register</title>
{% endblock %}

{% block content %}
<div>
    <div class="login-container">
        <div>
            <h1>Register</h1>
        </div>
        <div class="login-section">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>   
                    {{ form.email_address(class='input-field', placeholder='Email Address') }}
                </div>
                <div>   
                    {{ form.password(class='input-field', placeholder='Password') }}
                </div>
                <div>   
                    {{ form.confirm_password(class='input-field', placeholder='Confirm Password') }}
                </div>
                <div>   
                    {{ form.submit(class='submit-btn', value='Register') }}
                </div>
            </form>
        </div>
        <div style="text-align: center; margin: 20px auto;">
            <a href="{{ url_for('login_with_google') }}" class="google-button">
                <img src="../static/images/google-icon.png" alt="Google Icon" class="google-icon">
                <p style="margin: auto;">Continue with Google</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}