{% extends 'base.html' %}

{% block title %}
<title>Verification</title>
<link rel="stylesheet" href="../static/auth.css">
{% endblock %}

{% block content %}
<div style="margin: 100px auto; width: 1000px; border-radius: 25px;">
    <h1 style="padding: 20px;">You will recieve a link to confirm your email address</h1>
    <form action="{{ url_for('send_verification_email') }}" method="POST">
        <input type="submit" class="submit-btn" value="Send" name="submit" id="submit">
    </form>
</div>
{% endblock %}
