{% extends 'Base/base.html' %}

{% block title %}
<title>Verification</title>
<style>
    .btn {
        width: 30%;
    
    }
</style>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px;">
    <h3 class="card-title text-center">We will send you a link to confirm your email address</h3>
    <div style="text-align: center; margin: 8% auto;">
        <form action="{{ url_for('send_verification_email') }}" method="POST">
            <button type="submit" class="btn btn-primary btn-block">Recieve Email</button>
        </form>
    </div>
</div>
{% endblock %}
