{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="../static/auth.css">
<title>Verify Email</title>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="form-group">
        <h1>Verify Email</h1>
        <p>Enter the verification code sent to your email</p>
    </div>
    <div>
        {{ form.code(class='input-field', placeholder='code') }}
    </div>
    <div>
        {{ form.submit(class='submit-btn', value='Verify Email')}}
    </div>
    {% for error in form.code.errors %}
                    <div class="form-text error-message">{{ error }}</div>
                {% endfor %}
  </form>
{% endblock %}
