{% extends 'Admin/base.html' %}

{% block title %}
<title>Edit {{ data_type }}</title>
{% endblock %}

{% block content %}

<div style="padding: 50px;">
    <h1 class="text-center">Edit Product</h1>
<form class="text-center" method="POST" action="{{ url_for(func, id=item.id) }}">
{% for i in item.get_attributes() %}
    <div class="form-group" style="margin: 20px auto;">
        <label for="{{ i }}">{{ i }}:</label><br>
        <input class="form-control" type="text" id="{{ i }}" name="{{ i }}" value="{{ item[i] }}">
    </div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}