{% extends 'admin_base.html' %}

{% block title %}
<title>Edit {{ data_type }}</title>
<link rel="stylesheet" href="../../../static/auth.css">
{% endblock %}

{% block content %}

{% if data_type == 'Product' %}
<div style="padding: 50px;">
    <h1>Edit Product</h1>
    <form method="POST" action="{{ url_for('admin_product_edit_page', id=product.id) }}">
        <div>
            <label for="title">Title:</label><br>
            <input class="input-field" type="text" id="title" name="title" value="{{ product.title }}">
        </div>
        <div>
            <label for="price">Price:</label><br>
            <input class="input-field" type="text" id="price" name="price" value="{{ product.price }}">
        </div>
        <div>
            <label for="rating">Rating:</label><br>
            <input class="input-field" type="text" id="rating" name="rating" value="{{ product.rating }}">
        </div>
        <div>
            <label for="amount_of_ratings">Amount of ratings:</label><br>
            <input class="input-field" type="text" id="amount_of_ratings" name="amount_of_ratings" value="{{ product.amount_of_ratings }}">
        </div>
        <div>
            <label for="url">URL:</label><br>
            <input class="input-field" type="text" id="url" name="url" value="{{ product.url }}">
        </div>
        <div>
            <label for="producer">Brand:</label><br>
            <input class="input-field" type="text" id="producer" name="producer" value="{{ product.producer }}">
        </div>
        <div>
            <label for="item_class">Item class:</label><br>
            <input class="input-field" type="text" id="item_class" name="item_class" value="{{ product.item_class }}">
        </div>
        <div>
            <label for="availability">Availability:</label><br>
            <select class="input-field" name="availability" id="availability">
                <option value="True" {% if product.availability %} selected {% endif %}>True</option>
                <option value="False" {% if not product.availability %} selected {% endif %}>False</option>
            </select>
        </div>
        <div style="justify-content: space-between; display: flex; margin: 60px auto;">
            <input class="submit-btn" type="submit" value="Update">
        </div>
    </form>
</div>

{% endif %}

{% if data_type == 'User' %}

<div>
    <h1>Edit User</h1>
    <form method="POST" action="{{ url_for('admin_user_edit_page', id=user.id) }}">
        <div>
            <label for="username">Username:</label><br>
            <input class="input-field" type="text" id="username" name="username" value="{{ user.username }}">
        </div>
        <div>
            <label for="name">Name:</label><br>
            <input class="input-field" type="text" id="name" name="name" value="{{ user.name }}">
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input class="input-field" type="email" id="email_address" name="email_address" value="{{ user.email_address }}">
        </div>
        <div>
            <label for="role">Role:</label><br>
            <select class="input-field" id="role" name="role">
                {% if user.role == 'user' %}
                <option value="user" selected>User</option>
                <option value="admin">Admin</option>
                {% if current_user.role == 'owner' %}
                    <option value="owner">Owner</option>
                {% endif %}
                    
                {% elif user.role == 'admin' %}
                <option value="admin" selected>Admin</option>
                <option value="user">User</option>
                {% if current_user.role == 'owner' %}
                    <option value="owner">Owner</option>
                {% endif %}


                {% elif user.role == 'owner' %}
                <option value="owner" selected>Owner</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
                {% endif %}
                

                
            </select>
        </div>
        <div>
            <label for="confirmed">Confirmed:</label><br>
            <select class="input-field" id="confirmed" name="confirmed">
                <option value="True" {% if user.is_confirmed() %} selected {% endif %}>True</option>
                <option value="False" {% if not user.is_confirmed() %} selected {% endif %}>False</option>
            </select>
        </div>
        <button class="submit-btn" type="submit">Submit</button>
    </form>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}