{% extends 'Admin/base.html' %}

{% block title %}
<title>User Info</title>
<link rel="stylesheet" href="../../static/css/style.css">
<link rel="stylesheet" href="../../static/css/auth.css">
<style>
    .user-info {
        width: 30%;
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin: 10px auto;
        border-radius: 15px;
    }
</style>
{% endblock %}

{% block content %}
{% for key, value in item.items() %}
    <p class="text-center">{{ key }}: {{ value }}</p>
{% endfor %}

{% if item.__tablename__ == "user" %}
    <div class="text-center">
        {% if cart %}
            {% for i in cart %}
                <p>{{ i.title }}</p>
            {% endfor %}
        {% else %}
            <p>No items in cart</p>
        {% endif %}
    </div>
{% endif %}

{% endblock %}