{% extends 'Admin/base.html' %}

{% block title %}
<title>User Info</title>

{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card user-info" style="background-color: #222e3c; color: white;">
        {% if item.__tablename__ == 'product' %}
        <div>
            <div>
                <img src="{{item.get_image()}}" alt="Photo of product-{{item.id}}" class="card-img-top">
            </div>
        <div>
        {% endif %}
        <div class="card-body section">
            {% for key, value in item.items() %}
            <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        </div>
        {% if item.__tablename__ == "user" %}
        <div>
            <h3>
                Cart
            </h3>
        </div>
        <div class="flex-container" style="display: flex">
            {% for product in cart %}
                <div class="card shadow-lg border-frame" style="width: 30%; margin: 10px auto; border-radius: 25px; text-align: center;">
                    <a href="{{ product.url }}" style="text-decoration: none; color: black; ">
                        <img src="{{ product.get_image() }}" class="card-img-top" alt="..." style="border-radius: 25px 25px 0px 0px; padding-top: 25px;">
                        <div class="card-body">
                            <h1 class="card-title product-title" style="font-size: 15px;">
                                {% if product.title|length < 101 %}
                                    {{ product.title }}
                                {% else %}
                                    {{ product.title[:100] }}... 
                                {% endif %}
                            </h1>
                            <p class="card-text" style="padding: 10px; ">Price: {{product.price}}</p>
                            <p class="card-text" style="padding: 10px; ">Domain: {{product.get_domain()}}</p>
                            <p class="card-text" style="padding: 10px;">Rating: {{product.rating}}</p>
                            <p class="card-text" style="padding: 10px;">Category: {{product.item_class}}</p>
                        </a>
                        </div>
                        </div>
                        {% if (loop.index) % 3 == 0 %}
                        </div>
                        <div class="flex-container" style="display: flex">
                        {% endif %}
            {% endfor %}
        </div>
        {% endif %}
            {% if item.__tablename__ == 'message' %}
            <div class="card user-info">

                {% for key, value in user.items() %}
                <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            </div>
        {% endif %}
</div>
{% if item.__tablename__ in ['product', 'user'] %}
<script type="text/javascript" src="../../../static/js/image.js"></script>
{% endif %}
{% if item.__tablename__ == 'message' %}
<p id="message_id" style="display: none;">{{item.id}}</p>
<script type="text/javascript" src="../../../static/js/message.js"></script>
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}