{% extends 'Admin/base.html' %}

{% block title %}
<title>User Info</title>

{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card user-info" style="background-color: #222e3c; color: white;">
        {% if item.__tablename__ == 'product' %}
        <div>
            <div>
                <img src="{{item.get_image()}}" alt="Photo of product-{{item.id}}" class="card-img-top">
            </div>
        <div>
        {% endif %}
        <div class="card-body section">
            {% for key, value in item.items() %}
            <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        </div>
        {% if item.__tablename__ == "user" %}
            <div>
                {% if cart %}
                {% for i in cart %}
                <p>{{ i.title }}</p>
                {% endfor %}
                {% else %}
                <p>No items in cart</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="../../../static/js/image.js"></script>

{% endblock %}